
@import url('https://fonts.googleapis.com/css?family=Cinzel|Noto+Sans|Shrikhand');

body {
	font-family: 'Noto Sans', Helvetica, sans-serif;
	margin: 0; 
	background: #eee;
	height: auto;
    
}

.container {
	width: 100%;
	margin:auto;
	
}



header {
	height: 10vh;
	width:100%;
	background-color: #A9A9A9;
    border-bottom: 0.2rem solid #9ACD32;
    margin-bottom: 30px;
}

header .container  #logo a {
	float: left;
	margin-left: 50px;
	margin-top: 15px; 
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	font-family:'Shrikhand';
}

span {
	color: #9ACD32;
	font-size: 20px;
}



header nav {
	float: right;
	margin:0;
}

header li {
	display: inline;
    padding: 0 20px 0 20px;	
}



header li a {
	text-decoration: none;
	text-transform: uppercase;
	color:#fff;

}
header li .active {
	color: #9ACD32;
}

header li a:hover {
	
	color: #9ACD32;
}


/*main {
	max-width: 900px;
	margin: auto;
	box-shadow: 20px 0px 40px rgba(0,0,0,0.1),
    -20px 0px 40px rgba(0,0,0,0.1);
}*/

h1{
	text-align: center;
	padding: 30px 0 15px 0;
	
}


#welcome-head {
	text-align:center;
}
#welcome #welcome-head p {
	text-align: center; 
	padding: 15px 80px 15px 80px;
}


img {
    display: block;
	width:100%;
	height: auto;
}

/* section-a*/

#section-a  {
   padding: 1em 1em 1em;
   box-shadow: 20px 0px 40px rgba(0,0,0,0.1),
    -20px 0px 40px rgba(0,0,0,0.2);
   height: 75vh;
}

#section-a ul {
    margin:0;
    padding:0;
    list-style: none;
   
    
}

#section-a li {
    color: #333;
    background-color: #fff;
    
}

#section-a #card {
    margin: 0;
    padding: 0;
   
}

    
#section-a .card-content h3 {
    text-align: center;
    margin:0;
    padding-top: 10px;
}
#section-a .card-content p {
    text-align: center;
    margin:0;
    padding: 20px 20px;
}


/* section-b*/
#section-b {
    margin:0;
    padding:0;
}

 .header-b , .header-c{
    height:50px;
    background-color: #9ACD32;
    color: #fff;
    text-align: center;
    margin: 30px 0;
}

.header-b h2, .header-c h2{
    font-family: 'Cinzel';
    padding: 10px 0; 
    text-transform: uppercase;
}

.grid-1, .grid-2 {
    display: grid;
    width: 900px;
    height: 900px;
    margin:auto;
    grid-template: repeat(15, 1fr) / repeat(12, 1fr);
}

/*#section-b img {
    max-width: 100%;
}*/

/* arrange the grid-1*/

.a {
    grid-area: 1 / 6 / 6 / 12;
}
.b {
    grid-area: 1 / 3 / 3 / 6;
}
.c {
    grid-area: 6 / 1 / 9 / 7;
}
.d {
    grid-area: 7 / 7 / 11 / 12;
}
.e {
    grid-area: 11 / 6 / 14 / 12;
}

.f {
    grid-area: 12 / 3 / 15 / 6;
}

/* arrange the grid-2*/

.g {
    grid-area: 1 / 1 / 6 / 8;
}
.h {
    grid-area: 2 / 8 / 5 / 13;
}

 .i {
     grid-area: 6 / 7 / 10 / 13;
 }   
 
 .j {
     grid-area: 7 / 3 / 10 / 8;
 }
 
 .k {
     grid-area: 11 / 2 / 14 / 8;
 }

 .l {
   grid-area: 12 / 8 / 14 / 12;
}

/* visibility:hidden*/
footer {
	height: 60px;
	background-color: #A9A9A9;
	margin-top: 40px;
}

footer p {
	padding-top: 20px;
	text-align: center;
	margin: 0;
	color: #fff;
	
}





/* Media Queries*/

@media (min-width: 700px) {
    #section-a {
        display: grid;
        grid-template-columns:1fr  repeat(2, minmax(auto,25em)) 1fr;
    }

    #section-a ul{
        display: flex;
        grid-column: 2/4;
        justify-content: space-around;
    }

    #section-a li {
        width: 46%;
    }

    
}