@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Shrikhand');
body {
	font-family: 'Noto Sans', Helvetica, sans-serif;
	margin: 0; 
	background: #eee;
	height: auto;
    
}

.container {
	width: 100%;
	margin:auto;
	
}



header {
	height: 3.5rem;
	width:100%;
	background-color: #A9A9A9;
	border-bottom: 0.2rem solid #0da69c;
}

header .container  #logo a {
	float: left;
	margin-left: 50px;
	margin-top: 15px; 
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	font-family:'Shrikhand';
}

span {
	color: #0da69c;
	font-size: 20px;
}

main {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

h3 {
    background:linear-gradient(to right,#44dad0,#0da69c 20%,#0da69c 80%, #44dad0 ) ;
    margin: auto;
    margin-top: 50px;
    padding: 20px 0;
    width: 50%;
    text-align: center;
    color: #fff;
    border: 3px solid #a9a9a9;
}

table {
	width: 100%;
	left: 10%;
	margin: 20px auto;
	position: static;	
}

thead th {
	padding: 10px 0;
	background: #A9A9A9;
	color: #FFF;
	font-family: 'Noto-Sans', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: capitalize;
	width: 20%;
  }

  tr {
    background-color: #bef1ed;
    margin-bottom: 10px;
 }

 #classify {
     background-color: #a9a9a9;
     
 }
 
 td {
    font-family:Helvetica;
    padding: 5px 10px;
    text-align: center;
    text-transform: capitalize;
    width: 20%;
 }

 .fa-star {
     color: #0da69c;
     text-shadow:1px 2px 2px #fff;
 }





/*footer*/
footer {
	height: 60px;
	background-color: #A9A9A9;
	margin-top: 40px;
}

footer p {
	padding-top: 20px;
	text-align: center;
	margin: 0;
	color: #fff;
	
}
